<div id="all-container" class="container-fluid">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="" class="navbar-brand" href="#">Angular 2 Google Map</a>
    </div>
  </div>
</nav>
  <div class="row">
    <div class="col-md-6">
      <my-maps-project-app></my-maps-project-app>
    </div>
    <div id="form-background" class="col-md-6">
      <app-my-form></app-my-form>
    </div>
  </div>
</div>
